@import "https://js.arcgis.com/4.29/@arcgis/core/assets/esri/themes/light/main.css";

html,
      body,
      #viewDiv {
        padding: 0;
        margin: 0;
        height: 100%;
        width: 100%;
      }

div {
  box-sizing: border-box;
}

header {
  display: flex;
  flex-direction: row;
  justify-content: center;
  background: #919D7E;
  color: white;
}

nav {
  width: 1440px;
}

strong {
  padding-right: 20px;
  font-size: 18px;
}

li {
  list-style-type: none;
  display: inline;
  padding-right: 20px;
}

footer {
  background: #D9D9D9;
  color: white;
}

.footerSection {
  width: 1440px;
  margin: 0 auto;
  padding: 40px 0;
}

.footerSection p {
  padding-left: 40px;
}
